<form class="edit-form" #form="ngForm" (ngSubmit)="CheckLogin(form.value)">
    <div class="edit-form-content col-md-8">
        <!-- <h2>Edit book: {{ book.name | uppercase }}</h2> -->
        <h2>Login</h2>
        <div *ngIf="(errors | json) != '{}' && errors.email" class="alert alert-danger">{{errors.email}}</div>
        <div *ngIf="(errors | json) != '{}' && errors.password" class="alert alert-danger">{{errors.password}}</div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" required
            [(ngModel)]="emailUser" #email="ngModel" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
            [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched) }">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
                <div *ngIf="email.errors.required"> Name is required. </div>
                <div *ngIf="!email.errors.required && email.errors.email || email.errors.pattern"> This must be Email </div>
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" required [(ngModel)]="passwordUser" #password="ngModel"
                [ngClass]="{'is-invalid': password.invalid && (password.dirty || password.touched) }">
            <div *ngIf=" password.invalid && (password.dirty || password.touched) " class="invalid-feedback ">
                <div *ngIf="password.errors.required "> Password is required. </div>
            </div>
        </div>

        <div class="form-group ">
            <button type="submit" class="btn btn-success"
            [disabled]="email.invalid || password.invalid">
                <i class="fas fa-user"></i> Login
            </button>
        </div>
    </div>
</form>