.book-item {
    display: inline-block;
    margin-bottom: 35px;
    width: 300px;
    padding: 0px 20px;
}

.book-name {
    text-align: center;
    font-weight: bold;
}

.book-price {
    text-align: center;
}