<div style="text-align:center; clear: both;">
  <h1>Book Store</h1>
</div>


<div class="btn-create-box">
  <a class="btn btn-success" routerLink="/create"> Create New </a>
</div>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Content</th>
      <th scope="col">Craeted At</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <th scope="row">{{book.id}}</th>
      <td>
        <a routerLink="/edit/{{book.id}}">
          {{book.name}}
        </a>
      </td>
      <td>{{book.price}}</td>
      <td>{{ book.content | limitTo: 30 }}</td>
      <td>
        {{book.createdAt}}
      </td>
      <td class="cell">
        <span class="button-icon">
          <button title="Edit">
            <a routerLink="/edit/{{book.id}}">
              <i class="far fa-edit"></i>
            </a>
          </button>
          <button title="Delete" class="btn-delete">
            <i class="fas fa-trash"></i>
          </button>
        </span>
      </td>
    </tr>
  </tbody>
</table>


<!-- <li *ngFor="let star of stars">
  <a routerLink="/detail/{{star.id}}">
    <span class="badge">{{star.id}}</span> {{star.name}}
  </a>
  <button class="delete" title="delete star" (click)="delete(star)">x</button>
</li> -->

<!-- <div class="container">
  <div style="text-align:center; clear: both;">
    <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    <h1>Book Store</h1>

  </div>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div> -->