<div class="edit-form">
  <div *ngIf="book" class="edit-form-content col-md-8">
    <!-- <h2>Edit book: {{ book.name | uppercase }}</h2> -->
    <h2 *ngIf="book.id">EDIT BOOK</h2>
    <h2 *ngIf="!book.id">CREATE BOOK</h2>


    <div *ngIf="book.id" class="form-group">
      <label>Book ID:
        <b>{{book.id}}</b>
      </label>
    </div>

    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" name="name" required minlength="4" forbiddenName="bob" [(ngModel)]="book.name"
        #name="ngModel" [ngClass]="{'is-invalid': name.invalid }">
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
        <div *ngIf="name.errors.required"> Name is required. </div>
        <div *ngIf="name.errors.minlength"> Name must be at least 4 characters long. </div>
        <div *ngIf="name.errors.forbiddenName"> Name cannot be Bob. </div>
      </div>
    </div>

    <div class="form-group">
      <label for="price">Price:</label>
      <input type="number" class="form-control" id="price" name="price" required [(ngModel)]="book.price" #price="ngModel" [ngClass]="{'is-invalid': price.invalid }">
      <div *ngIf=" price.invalid && (price.dirty || price.touched) " class="invalid-feedback ">
        <div *ngIf="price.errors.required "> Price is required. </div>
      </div>
    </div>

    <div class="form-group ">
      <label for="content ">Content:</label>
      <input type="text " class="form-control " id="content " name="content " required minlength="4 " forbiddenName="bob" [(ngModel)]="book.content "
        #content="ngModel" [ngClass]="{'is-invalid': content.invalid }">
      <div *ngIf="content.invalid && (content.dirty || content.touched) " class="invalid-feedback ">
        <div *ngIf="content.errors.required "> Book content is required. </div>
        <div *ngIf="content.errors.minlength "> Book content must be at least 4 characters long. </div>
        <div *ngIf="content.errors.forbiddenName "> Book content cannot be Bob. </div>
      </div>
    </div>

    <button (click)="save()" class="btn btn-success" [disabled]="name.invalid || price.invalid || content.invalid">
      <i class="fas fa-save"></i> Save
    </button>

    <button (click)="goBack() " class="btn btn-danger">
      <i class="fas fa-reply"></i> Back
    </button>
  </div>
</div>