.edit-form {
    text-align: center;
}

.edit-form-content {
    text-align: left;
    margin: 20px auto;
}

.invalid-feedback {
    display: block;
}

.textarea-alt {
    position: sticky !important;
    height: 200px;
}