<!-- <div>
  sdsfsdkjk
</div> -->

<div class="edit-form">
  <div class="edit-form-content col-md-8">
    <!-- <h2>Edit book: {{ book.name | uppercase }}</h2> -->
    <h2>CREATE BOOK</h2>

    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" name="name" required minlength="4" forbiddenName="bob" [(ngModel)]="name"
        #bname="ngModel" [ngClass]="{'is-invalid': bname.invalid && (bname.dirty || bname.touched) }">
      <div *ngIf="bname.invalid && (bname.dirty || bname.touched)" class="invalid-feedback">
        <div *ngIf="bname.errors.required"> Name is required. </div>
        <div *ngIf="bname.errors.minlength"> Name must be at least 4 characters long. </div>
        <div *ngIf="bname.errors.forbiddenName"> Name cannot be Bob. </div>
      </div>
    </div>

    <div class="form-group">
      <label for="price">Price:</label>
      <input type="number" class="form-control" id="price" name="price" required [(ngModel)]="price" #bprice="ngModel" [ngClass]="{'is-invalid': bprice.invalid && (bprice.dirty || bprice.touched) }">
      <div *ngIf=" bprice.invalid && (bprice.dirty || bprice.touched) " class="invalid-feedback ">
        <div *ngIf="bprice.errors.required "> Price is required. </div>
      </div>
    </div>

    <div class="form-group ">
      <label for="content ">Content:</label>
      <textarea class="form-control textarea-alt" id="content" name="content" required minlength="4" forbiddenName="bob" [(ngModel)]="content"
        #bcontent="ngModel" [ngClass]="{'is-invalid': bcontent.invalid && (bcontent.dirty || bcontent.touched) }">
      </textarea>
      <div *ngIf="bcontent.invalid && (bcontent.dirty || bcontent.touched) " class="invalid-feedback ">
        <div *ngIf="bcontent.errors.required "> Book content is required. </div>
        <div *ngIf="bcontent.errors.minlength "> Book content must be at least 4 characters long. </div>
        <div *ngIf="bcontent.errors.forbiddenName "> Book content cannot be Bob. </div>
      </div>
    </div>

    <div class="form-group ">
      <button class="btn btn-success" (click)="add(bname.value, bprice.value, bcontent.value)" [disabled]="bname.invalid || bprice.invalid || bcontent.invalid">
        <i class="fas fa-save"></i> Save
      </button>

      <button (click)="goBack()" class="btn btn-danger">
        <i class="fas fa-reply"></i> Back
      </button>
    </div>
  </div>
</div>